/* Navbar.css */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(42, 62, 71);
    height: 7vmin;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: antiquewhite;
}